.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header span a img {
  cursor: pointer;
}

.header .logo {
  max-height: 2.5rem;
  width: 2.5rem;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}